*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #545454
	opacity: 1
	transition: opacity .25s

*:focus::-webkit-input-placeholder
	opacity: 0

*:-moz-placeholder
	color: #545454
	opacity: 1
	transition: opacity .25s

*:focus::-moz-placeholder
	opacity: 0

*::-moz-placeholder
	color: #545454
	opacity: 1
	transition: opacity .25s

*:focus:-moz-placeholder
	opacity: 0

*:-ms-input-placeholder
	color: #545454
	opacity: 1
	transition: opacity .25s

*:focus:-ms-input-placeholder
	opacity: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #e7e7e7
body input:required:valid,
body textarea:required:valid
	color: #e7e7e7

*, body
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-focus-ring-color: rgba(0,0,0,0)
	outline: none

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

h1,h2,h3,h4,h5,h6
	font-size: 1em
	font-weight: normal
	margin: 0

.container
	display: flex
	align-items: center
	flex-wrap: wrap
	max-width: 2100px
	margin: 0 auto
	padding: 0 50px
	@include media-breakpoint-down(xl)
		padding: 0 15px

.wrapper
	background: #000
	display: flex
	flex-direction: column
	min-height: 100%
	overflow: hidden

.title
	font-family: $it-font
	font-style: italic
	font-weight: 800
	font-size: 80px
	line-height: 97px
	text-transform: uppercase
	color: #323232
	flex: 1 100%

.main
	flex: 1
	padding-top: 237px
	position: relative
	z-index: 1
	@include media-breakpoint-down(xl)
		padding-top: 172px
	&__circle
		position: absolute
		top: -387px
		left: 50%
		transform: translate(calc(-50% + 40px), 0)
		z-index: -1
		width: 560px
		height: 560px
		background: linear-gradient(268.42deg, #FF2F6E -8.98%, #C51B47 97.94%)
		opacity: 0.3
		filter: blur(125px)
		animation-name: cicrle-animation
		animation-duration: 20s
		animation-iteration-count: infinite
		animation-play-state: running
		animation-fill-mode: both

@keyframes cicrle-animation
	0%
		transform: translate(calc(-50% + 40px), 0px)
	25%
		transform: translate(calc(-50% + 90px), 40px)
	50%
		transform: translate(calc(-50% + 10px), -40px)
	100%
		transform: translate(calc(-50% + 40px), 0px)

.btn
	width: 412px
	height: 75px
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	cursor: pointer
	border: 0
	text-transform: uppercase
	text-align: center
	color: #00407a
	font-weight: 400
	font-size: 20px
	line-height: 25px
	text-decoration: none
	padding: 0
	-webkit-mask-image: url(../img/btn-mask.svg)
	-webkit-mask-size: 100% 100%
	background-position: -99.9% center
	transition: .5s ease-in-out
	@include media-breakpoint-down(lg)
		width: 400px
	@include media-breakpoint-down(xs)
		max-width: 260px
		width: 100%
		-webkit-mask-image: url(../img/btn-mask-sm.svg)
		font-size: 18px
		line-height: 22px
	&_white
		background-size: 200%
		background-image: linear-gradient(268.42deg, #E7E7E7 0, #E7E7E7 25%, #E7E7E7 49.9%, #FF2F6E 50.1%, #C51B47 100%)
		&:hover
			background-position: -0.1% center
			color: #e7e7e7
	&_grey
		color: #e7e7e7
		background-size: 200%
		background-image: linear-gradient(268.42deg, #323232 0, #323232 25%, #323232 49.9%, #FF2F6E 50.1%, #C51B47 100%)
		&:hover
			background-position: -0.1% center
			color: #e7e7e7
	&_red
		color: #e7e7e7
		background-position: -0.1% center
		background-size: 200%
		background-image: linear-gradient(268.42deg, #E7E7E7 0, #E7E7E7 25%, #E7E7E7 49.9%, #FF2F6E 50.1%, #C51B47 100%)
		&:hover
			background-position: -99.9% center
			color: #000
