.footer
	margin-top: 250px
	&__grid
		border-top: 1px solid #323232
		display: grid
		grid-template-columns: repeat(4,auto)
		grid-gap: auto
		justify-content: space-between
		width: 100%
		padding-top: 50px
		padding-bottom: 50px
	&__item
		font-size: 20px
		line-height: 25px
		font-weight: 300
		text-transform: uppercase
		color: #e7e7e7
		p
			margin: 0
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
		a
			color: #e7e7e7
			transition: .3s ease-in-out
			text-decoration: none
			&:hover
				color: #e02656