.club
	&__hero
		background-image: url(../img/club-hero-bg.png)
		background-repeat: no-repeat
		background-position: center calc(100% - 60px)
		padding-bottom: 103px
		background-position: center 100%
		@include media-breakpoint-down(lg)
			padding-bottom: 117px
		.container
			position: relative
		&-circle
			position: absolute
			z-index: -1
			left: calc(15px + 10%)
			bottom: -265px
			width: 562px
			height: 562px
			border-radius: 50%
			background: #0071B4
			opacity: 0.2
			filter: blur(125px)
			animation-name: cicrle-animation
			animation-duration: 20s
			animation-iteration-count: infinite
			animation-play-state: running
			animation-fill-mode: both
		&-info
			display: flex
			align-items: center
			z-index: 1
			flex: 1 100%
			margin-top: 40px
			@include media-breakpoint-down(md)
				align-items: flex-start
				flex-direction: column
			@include media-breakpoint-down(sm)
				margin-top: 30px
		&-title
			font-family: $it-font
			font-style: italic
			font-weight: 800
			font-size: 35px
			text-transform: uppercase
			color: #E7E7E7
			@include media-breakpoint-down(sm)
				font-size: 25px
		&-loc
			font-family: $it-font
			font-style: italic
			font-weight: 400
			font-size: 35px
			text-transform: uppercase
			color: #C81C49
			margin-right: 5px
			@include media-breakpoint-down(md)
				margin-right: 0
			@include media-breakpoint-down(sm)
				font-size: 25px
		&-swiper
			margin: -90px
			padding: 90px
			&.is-ios
				.swiper-pagination
					top: 176px
				.club__hero-swiper-full
					bottom: 79px
			&-container
				flex: 0 57.5%
				max-width: 57.5%
				align-self: flex-start
				// @include media-breakpoint-down(xxl)
				max-width: 100%
				flex: 1 100%
			.swiper-pagination
				position: absolute
				left: auto
				bottom: auto
				width: auto
				right: 130px
				top: 136px
				display: flex
				align-items: center
			.swiper-pagination-bullet
				margin: 0
				margin-right: 10px
				width: 25px
				height: 15px
				position: relative
				background: 0
				border: 0
				opacity: 1
				&::after,
				&::before
					position: absolute
					left: 0
					top: 0
					content: ''
					width: 100%
					height: 100%
					background-repeat: no-repeat
					background-position: center
					transition: .3s ease-in-out
				&::before
					background-image: url(../img/slide-dot.png)
				&::after
					background-image: url(../img/slide-dot-active.png)
					opacity: 0
					visibility: hidden
				&:hover,
				&-active
					&::after
						opacity: 1
						visibility: visible
				&:last-child
					margin-right: 0
			&-full
				display: none !important
				position: absolute
				bottom: 32px
				left: 40px
				z-index: 1
				fill: none
				stroke: #E7E7E7
				color: #E7E7E7
				text-decoration: none
				transition: .3s
				display: flex
				font-size: 0
				line-height: 0
				align-items: center
				@include media-breakpoint-down(md)
					bottom: 19px
					left: 30px
					font-size: 16px
					line-height: 20px
				&:hover
					color: #E02656
					stroke: #E02656
				span
					position: relative
					top: 0
					font-style: italic
					font-weight: 800
					font-size: 18px
					text-transform: uppercase
				svg
					margin-right: 13px
					@include media-breakpoint-down(md)
						width: 20px
						height: auto
						margin-right: 10px
			&-slide
				position: relative
				height: 500px
				@include media-breakpoint-down(lg)
					height: 420px
				@include media-breakpoint-down(md)
					height: 500px
				&.swiper-slide-active
					.club__hero-swiper-slide-mask:not(:first-child) img
						animation-play-state: running
					.club__hero-swiper-slide-bg span
						opacity: 1
						visibility: visible
				&-mask
					display: block
					width: 100%
					height: 100%
					-webkit-mask-image: url(../img/club-hero-mask.svg)
					-webkit-mask-repeat: no-repeat
					-webkit-mask-size: 100% 100%
					position: relative
					@include media-breakpoint-down(lg)
						-webkit-mask-image: url(../img/club-hero-mask-lg.svg)
					@include media-breakpoint-down(md)
						-webkit-mask-image: url(../img/club-hero-mask-md.svg)
					@include media-breakpoint-down(xs)
						-webkit-mask-image: url(../img/club-hero-mask-xs.svg)
					img
						width: 100%
						height: 100%
						object-fit: cover
					&:not(:first-child)
						img
							animation: zoom 80s ease-in-out infinite forwards
							animation-play-state: paused
						&::after
							position: absolute
							left: 0
							top: 0
							// content: ''
							width: 100%
							height: 100%
							mix-blend-mode: multiply
							background: linear-gradient(180deg, #E02655 0%, #4BA1D9 100%)
							background-repeat: no-repeat
							transition: .7s ease-in-out
				&-bg
					position: absolute
					left: 0
					top: 0
					z-index: -1
					-webkit-mask-image: unset
					span
						position: absolute
						z-index: -1
						left: 0
						top: -20px
						width: 100%
						height: 100%
						object-fit: cover
						filter: blur(50px)
						opacity: 0
						visibility: hidden
						mix-blend-mode: normal
						transition: .3s ease-in-out
		&-thumbs
			display: grid
			grid-template-columns: repeat(7,1fr)
			grid-gap: 12px
			margin-top: 40px
			position: relative
			z-index: 9
			// @include media-breakpoint-down(xl)
			display: flex
			flex-wrap: wrap
			grid-gap: 0
			margin-bottom: -12px
			@include media-breakpoint-down(sm)
				margin-bottom: -8px
			@include media-breakpoint-down(xs)
				display: grid
				margin-bottom: 0
				grid-template-columns: repeat(3,1fr)
				grid-gap: 7px
		&-thumb
			opacity: 0.5
			-webkit-mask-image: url(../img/club-thumb-mask.svg)
			-webkit-mask-repeat: no-repeat
			-webkit-mask-size: 100% 100%
			transition: .3s ease-in-out
			cursor: pointer
			// @include media-breakpoint-down(xl)
			width: 154px
			height: 93px
			margin-right: 12px
			margin-bottom: 12px
			@include media-breakpoint-down(md)
				width: 117px
				height: 70px
			@include media-breakpoint-down(sm)
				width: 109px
				height: 84px
				margin-right: 8px
				margin-bottom: 8px
			@include media-breakpoint-down(xs)
				width: auto
				height: 56px
				margin-right: 0
				margin-bottom: 0
			&:hover,
			&.is-active
				opacity: 1
			img
				width: 100%
				height: 100%
				object-fit: cover

@keyframes zoom
	0%
		transform: scale(1)
	50%
		transform: scale(1.2)
	100%
		transform: scale(1)