.configuration
	&__title
		margin-bottom: 60px
		@include media-breakpoint-down(md)
			margin-bottom: 40px
	&__grid
		flex: 1 100%
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin-bottom: -50px
	&__tabs
		flex: 1 100%
		display: flex
		align-items: center
		margin-bottom: 40px
	&__tab
		flex: 1
		background: 0
		border: 0
		border-bottom: 1px solid #222323
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		padding-bottom: 20px
		font-size: 25px
		font-weight: 800
		font-style: italic
		text-transform: uppercase
		color: #323232
		transition: .3s ease-in-out
		cursor: pointer
		&.is-active
			color: #e7e7e7
			border-color: #e7e7e7
		@include media-breakpoint-down(md)
			font-size: 22px
		@include media-breakpoint-down(sm)
			font-size: 18px
		@include media-breakpoint-down(xs)
			font-size: 14px
		@include media-breakpoint-up(xl)
			&:hover
				color: #e7e7e7
				border-color: #e7e7e7
	&__tab
		&-contents
			width: 100%
	&__item
		text-align: center
		flex: 0 25%
		margin-bottom: 50px
		@include media-breakpoint-down(md)
			flex: 0 33%
		@include media-breakpoint-down(sm)
			flex: 0 50%
		@include media-breakpoint-up(xl)
			&:hover
				.configuration__icon-bg span
					opacity: 1
					visibility: visible
					animation-play-state: running
				.configuration__icon-bg::after
					opacity: 1
					visibility: visible
					animation-play-state: running
	&__icon
		position: relative
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		height: 110px
		margin-bottom: 20px
		z-index: 1
		&-bg
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			span
				z-index: -1
				position: absolute
				display: block
				left: 0
				top: 0
				opacity: 0
				visibility: hidden
				transition: .7s ease-in-out
				width: 100%
				height: 100%
				background-position: 0 center
				background-image: linear-gradient(90deg, #E02655 0%, #4BA1D9 13.25%, #00FFFF 20.9%, #000AFF 32.66%, #FF00FF 44.7%, #FFA800 59.29%, #FAFF00 72.47%, #05FF00 85.22%, #E02656 100%)
				background-repeat: repeat
				background-size: 900% 100%
				animation-name: conf-line
				animation-duration: 80s
				animation-iteration-count: infinite
				animation-play-state: paused
				animation-fill-mode: both
			&::after
				position: absolute
				left: 0
				top: 0
				content: ''
				width: 100%
				height: 100%
				background-image: linear-gradient(90deg, #E02655 0%, #4BA1D9 13.25%, #00FFFF 20.9%, #000AFF 32.66%, #FF00FF 44.7%, #FFA800 59.29%, #FAFF00 72.47%, #05FF00 85.22%, #E02656 100%)
				background-repeat: repeat
				background-size: 900% 100%
				animation-name: conf-line
				animation-duration: 80s
				animation-iteration-count: infinite
				animation-play-state: paused
				animation-fill-mode: both
				filter: blur(12.5px)
				z-index: -9
				opacity: 0
				visibility: hidden
				transition: .7s ease-in-out
	&__info
	&__type
		margin-bottom: 10px
		font-family: $it-font
		font-style: normal
		font-weight: 400
		font-size: 18px
		text-transform: uppercase
		color: #E7E7E7
		@include media-breakpoint-down(xs)
			font-size: 14px
	&__name
		font-family: $it-font
		font-style: italic
		font-weight: 700
		font-size: 18px
		text-align: center
		color: #545454
		@include media-breakpoint-down(xs)
			font-size: 14px
	&__grid_inspot
		.configuration__item
			flex: 0 33%
			@include media-breakpoint-down(sm)
				flex: 0 50%
			@include media-breakpoint-down(xs)
				flex: 1 100%
		.configuration__type
			font-weight: 400

@keyframes conf-line
	0%
		background-position: 0 center
	50%
		background-position: 100% center
	100%
		background-position: 0 center