.map
	padding-top: 300px
	position: relative
	background-image: url(../img/map-line.png)
	background-repeat: no-repeat
	background-position: left 60px
	@include media-breakpoint-down(md)
		padding-top: 150px
	.container
		padding: 0 50px
		max-width: 100%
	&__marquee
		position: absolute
		z-index: 5
		overflow: hidden
		left: 0
		top: 217px
		font-family: $j-font
		height: 53px
		width: 100%
		display: flex
		align-items: center
		backdrop-filter: blur(10px)
		border: 1px solid rgba(95, 95, 95, 0.7)
		border-left: 0
		border-right: 0
		background: rgba(27, 27, 27, 0.2)
		font-style: normal
		font-weight: 700
		font-size: 23px
		line-height: 27px
		text-transform: uppercase
		color: #4A4A4A
		@include media-breakpoint-down(md)
			top: 80px
		@include media-breakpoint-down(sm)
			height: 40px
			font-size: 18px
		&_1
			display: none
			transform: rotate(3.47deg)
			@include media-breakpoint-down(sm)
				transform: rotate(6.47deg)
		> div
			display: flex
			align-items: center
		.js-marquee
			white-space: nowrap
	.container
		position: relative
		z-index: 1
	&__circle
		position: absolute
		z-index: -1
		left: 200px
		top: -100px
		width: 560px
		height: 560px
		border-radius: 50%
		background: #4BA1D9
		opacity: 0.2
		filter: blur(125px)
		animation-name: cicrle-animation
		animation-duration: 20s
		animation-iteration-count: infinite
		animation-play-state: running
		animation-fill-mode: both
		&_2
			left: auto
			top: auto
			background: linear-gradient(268.42deg, #FF2F6E -8.98%, #C51B47 97.94%)
			right: -200px
			bottom: -100px
	&__container
		height: 600px
		width: 100%
		position: relative
		-webkit-mask-image: url(../img/hero-slider-mask.png)
		-webkit-mask-repeat: no-repeat
		-webkit-mask-size: 100% 100%
		@include media-breakpoint-down(x5l)
			-webkit-mask-image: url(../img/hero-slider-mask-x5l.png)
		@include media-breakpoint-down(xxxxl)
			-webkit-mask-image: url(../img/hero-slider-mask-xxxxl.png)
		@include media-breakpoint-down(xxxl)
			-webkit-mask-image: url(../img/hero-slider-mask-xxxl.png)
		@include media-breakpoint-down(xxl)
			-webkit-mask-image: url(../img/hero-slider-mask-xxl.png)
		@include media-breakpoint-down(xl)
			-webkit-mask-image: url(../img/hero-slider-mask-xl.png)
		@include media-breakpoint-down(lg)
			-webkit-mask-image: url(../img/hero-slider-mask-lg.png)
		@include media-breakpoint-down(md)
			-webkit-mask-image: url(../img/hero-slider-mask-md.png)
		@include media-breakpoint-down(sm)
			-webkit-mask-image: url(../img/hero-slider-mask-sm.png)
		@include media-breakpoint-down(xs)
			-webkit-mask-image: url(../img/hero-slider-mask-xs.png)
		@include media-breakpoint-down(sm)
			height: 500px
		&-mask
			width: 100%
			-webkit-mask-image: url(../img/hero-slider-mask.png)
			-webkit-mask-repeat: no-repeat
			-webkit-mask-size: 100% 100%
			padding: 2px
			background-image: linear-gradient(to right, #E12555 0%, #4BA1D9 100%)
			@include media-breakpoint-down(x5l)
				-webkit-mask-image: url(../img/hero-slider-mask-x5l.png)
			@include media-breakpoint-down(xxxxl)
				-webkit-mask-image: url(../img/hero-slider-mask-xxxxl.png)
			@include media-breakpoint-down(xxxl)
				-webkit-mask-image: url(../img/hero-slider-mask-xxxl.png)
			@include media-breakpoint-down(xxl)
				-webkit-mask-image: url(../img/hero-slider-mask-xxl.png)
			@include media-breakpoint-down(xl)
				-webkit-mask-image: url(../img/hero-slider-mask-xl.png)
			@include media-breakpoint-down(lg)
				-webkit-mask-image: url(../img/hero-slider-mask-lg.png)
			@include media-breakpoint-down(md)
				-webkit-mask-image: url(../img/hero-slider-mask-md.png)
			@include media-breakpoint-down(sm)
				-webkit-mask-image: url(../img/hero-slider-mask-sm.png)
			@include media-breakpoint-down(xs)
				-webkit-mask-image: url(../img/hero-slider-mask-xs.png)
		.leaflet-popup
			width: 300px !important
			max-width: calc(100vw - 40px) !important
			min-height: 107px !important
			height: auto !important
		.leaflet-popup-content-wrapper
			width: 100%
			height: 100%
			background: 0
			background-image: url(../img/map-bg.png)
			background-position: center
			background-repeat: no-repeat
			background-size: 100% 100%
			border-radius: 0
			box-shadow: unset
		.leaflet-control-container
			display: none
		.leaflet-popup-content
			height: 100%
			width: 100% !important
			margin: 0
			padding: 20px 40px
			font-family: $it-font
			font-size: 16px
			color: #E7E7E7
			@include media-breakpoint-down(sm)
				padding: 20px
			a
				color: #e7275e
				text-decoration: none
				display: block
				margin-top: 10px
		.leaflet-popup-tip-container
			display: none
		.leaflet-tile-pane
			// display: none
		.leaflet-interactive
			transition: .3s ease-in-out
			&:hover
				z-index: 999 !important
				stroke: #e02656
		.marker-cluster
			background: 0
			z-index: 999 !important
			span
				font-family: $it-font
				font-style: italic
				font-weight: 700
				font-size: 20px
				text-transform: uppercase
				color: #090909
			div
				position: relative
				margin: 0
				width: 100%
				height: 100%
				border-radius: 50%
				display: flex
				align-items: center
				justify-content: center
				background: linear-gradient(90.14deg, #E12555 0%, #4BA1D9 99.76%)
				&::after
					position: absolute
					left: 4px
					top: 4px
					content: ''
					width: calc(100% - 8px)
					height: calc(100% - 8px)
					border-radius: 50%
					border: 2px solid #000